################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerManagement/bin/Debug/netcoreapp3.0
/CustomerManagement/.vs/CustomerManagement
/CustomerManagement/obj
